.cont{
    text-align: center;
    padding-top: 300px;
}

.navbar {
    padding: 15px 0 15px 0;
    font-size: 20px;
}

#header {
    background: url(../img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    opacity: 90%;
}

#btn1 {
    padding: 10px 45px;
    font-size: 30px;
}

#about {
    padding: 75px 0 55px 0;
    background-color: rgb(31, 29, 29);
    color: white;
}

#education {
    padding: 75px 0 55px 0;
}

#intereses {
    padding: 75px 0 55px 0;
}

#intereses img {
    border-radius: 15%;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#contact {
    background-color: rgb(19, 19, 19);
    color: gray;
    padding: 55px 0 45px 0;
}

.theme {
    padding: 55px 0 55px 0;
}

.list-icon{
    text-align: center;
    padding: 35px;
}

.list-icon a{
    margin-right: 30px;
    color: gray;
    text-align: center;
    text-decoration: none;
}

#footer {
    background-color: black;
    color: white;
    padding: 90px 0 45px 0;
}