/* HEADER */
#header {
    background-image: url(../img/back4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 700px;
}

.cont{
    margin: 200px 5px 100px 5px;
    color: white;
    text-align: center;
}

#btn1 {
    background: rgb(4,32,36);
    background: linear-gradient(0deg, rgba(4,32,36,1) 12%, rgba(12,210,26,1) 87%);
    color: white;
    font-size: 20px;
    padding: 20px 100px;
    border-radius: 20px;
    text-decoration: none;
}

#btn1:hover{
    background: rgb(23,29,30);
    background: linear-gradient(0deg, rgba(23,29,30,1) 2%, rgba(210,12,12,1) 87%);
    color: white;
}


/* ABOUT */

#about {
    background-color: black;
    color: white;
    margin: auto;
    width: auto;
    padding: 55px 10px 70px 10px;
}

/* Divisor INF */
#divisor_1 {
    background-image: url(../img/inf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 250px;
    padding-top: 70px;
    text-align: center;
    color: white;
}

/* Divisor TRADING  */
#divisor_2 {
    background-image: url(../img/trading.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 250px;
    padding-top: 70px;
    text-align: center;
    color: white;
}

/* EDUCATION */ 

#education {
    margin: auto;
    padding: 10px;
}

/* CONTACT */

#contact {
    background-color: rgb(79, 78, 78);
    color: white;
    margin: auto;
    padding: 55px 15px 70px 15px;
}

/* FOOTER */

#footer {
    background-color: black;
    color: gray;
    width: auto;
    text-align: center;
    padding: 55px 15px 70px 15px;
}

.list-icon a {
    color: gray;
    margin-right: 15px;
    text-decoration: none;
}

